@font-face {
    font-family: 'Boba Mono';
    src: url('BobaMonoRegular.woff2') format('woff2'),
        url('BobaMonoRegular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

